h1{
color:maroon;
text-align:center;
font-style:italic; font-family: 'Great Vibes';

}

p{
    font-family: 'Great Vibes';
    color:black;
    text-align:center;
}

h2{
   
    color:maroon;
    text-align:center;
}

h3{
    color:lightpink;
    text-align:center;
}

